$breakpoint-xs-columns: 4;
$breakpoint-xs-padding: 0.5rem;
$breakpoint-xs-margin: 0.5rem;
$breakpoint-xs-width: 20rem; // 320px
$breakpoint-sm-columns: 8;
$breakpoint-sm-padding: 0.5rem;
$breakpoint-sm-margin: 1rem;
$breakpoint-sm-width: 37.5rem; // 600px
$breakpoint-md-columns: 12;
$breakpoint-md-padding: 0.75rem;
$breakpoint-md-margin: 1.75rem;
$breakpoint-md-width: 52.5rem; // 840px
$breakpoint-lg-columns: 12;
$breakpoint-lg-padding: 0.75rem;
$breakpoint-lg-margin: 4.25rem;
$breakpoint-lg-width: 80rem; // 1280px
$breakpoint-xl-columns: 12;
$breakpoint-xl-padding: 0.75rem;
$breakpoint-xl-margin: 4.5rem;
$breakpoint-xl-width: 90rem; // 1440px
$color-brand-blue: #0069b4;
$color-brand-blueberry: #1f355e;
$color-brand-sand: #f5f3eb;
$color-brand-white: #ffffff;
$color-brand-black: #000000;
$color-charts-categorical-blue: #005694;
$color-charts-categorical-aqua: #47d6c7;
$color-charts-categorical-yellow: #fdd353;
$color-charts-categorical-red: #f57373;
$color-charts-categorical-green: #6dbf79;
$color-charts-categorical-purple: #916eb3;
$color-charts-sequential-blue-20: #c1def2;
$color-charts-sequential-blue-40: #61acdd;
$color-charts-sequential-blue-60: #0069b4;
$color-charts-sequential-blue-80: #005694;
$color-charts-sequential-blue-100: #1f355e;
$color-charts-sequential-aqua-20: #d3f8f3;
$color-charts-sequential-aqua-40: #79f1e0;
$color-charts-sequential-aqua-60: #47d6c7;
$color-charts-sequential-aqua-80: #2baea3;
$color-charts-sequential-aqua-100: #117664;
$color-charts-sequential-yellow-20: #fee9a9;
$color-charts-sequential-yellow-40: #ffd967;
$color-charts-sequential-yellow-60: #fdc828;
$color-charts-sequential-yellow-80: #e6b627;
$color-charts-sequential-yellow-100: #b7912e;
$color-charts-sequential-red-20: #f57373;
$color-charts-sequential-red-40: #f24545;
$color-charts-sequential-red-60: #ee0000;
$color-charts-sequential-red-80: #d90000;
$color-charts-sequential-red-100: #ae0000;
$color-charts-sequential-green-20: #b6dfbc;
$color-charts-sequential-green-40: #6dbf79;
$color-charts-sequential-green-60: #49af57;
$color-charts-sequential-green-80: #339941;
$color-charts-sequential-green-100: #347d3e;
$color-charts-sequential-purple-20: #c8b7d9;
$color-charts-sequential-purple-40: #916eb3;
$color-charts-sequential-purple-60: #764aa0;
$color-charts-sequential-purple-80: #6d4592;
$color-charts-sequential-purple-100: #563a73;
$color-error-primary: #df1e00;
$color-error-secondary: #fce9e6;
$color-gray-5: #f2f2f2;
$color-gray-20: #cccccc;
$color-gray-40: #999999;
$color-gray-60: #666666;
$color-gray-80: #333333;
$color-hover-blue: #005592;
$color-opacity-5: rgba(0, 0, 0, 0.05);
$color-opacity-10: rgba(0, 0, 0, 0.1);
$color-opacity-20: rgba(0, 0, 0, 0.2);
$color-opacity-40: rgba(0, 0, 0, 0.4);
$color-secondary-aqua: #e4f6ff;
$color-secondary-apple: #eaf9f7;
$color-secondary-peach: #fdf0e2;
$color-valid-primary: #01843a;
$color-valid-secondary: #e6f3ec;
$color-warning-primary: #ffab2e;
$color-warning-secondary: #fff7eb;
$font-family-regular: 'SenticoSansDT-Regular', sans-serif;
$font-family-medium: 'SenticoSansDT-Medium', sans-serif;
$font-size-12: 0.75rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;
$font-size-40: 2.5rem;
$font-size-64: 4rem;
$letter-spacing-0: 0px;
$letter-spacing-min-1: -1px;
$line-height-16: 1rem;
$line-height-24: 1.5rem;
$line-height-28: 1.75rem;
$line-height-32: 2rem;
$line-height-40: 2.5rem;
$line-height-48: 3rem;
$line-height-72: 4.5rem;
$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-64: 4rem;
$spacing-80: 5rem;
$spacing-96: 6rem;